<h1>Add Links</h1>
<fieldset>
  <legend>Add Link</legend>
  <form action="/links" method="POST">
    <label>Name: <input type="text" name="name"></label>
    <label>URL: <input type="text" name="url"></label>
    <label>Description: <input type="text" name="description"></label>
    <input type="submit" name="Add">
  </form>
</fieldset>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Description</th>
  </tr>
  <%= @tablerows.join %>
</table>